<div class="navbar navbar-default navbar-top" role="navigation">
    <button type="button" class="btn btn-default col-md-2" ng-click="pageEvent('home')">home</button>
    <button type="button" class="btn btn-default col-md-2" ng-click="pageEvent('list')">product list</button>
    <button type="button" class="btn btn-default col-md-2" ng-click="pageEvent('addItems', product.id, 1)">add</button>
    <button type="button" class="btn btn-default col-md-2" ng-click="pageEvent('removeItems', product.id, 1)">remove</button>
    <button type="button" class="btn btn-default col-md-2" ng-click="pageEvent('checkout')">checkout basket</button>
</div>

<h1>Product details</h1>
<div class="row">
    <div class="col-md-2">Product name</div>
    <div class="col-md-2">{{product.name}}</div>
</div>
<div class="row">
    <div class="col-md-2">Product price</div>
    <div class="col-md-2">{{product.price}}</div>
</div>

<div class="row">
    <div class="col-md-2">Ordered itemse</div>
    <div class="col-md-2">{{product.orderedItems}}</div>
</div>

<div class="row">
    <div class="col-md-2">Total price</div>
    <div class="col-md-2">{{product.orderedItems ? product.price * product.orderedItems : ''}}</div>
</div>
