<div class="navbar navbar-default navbar-top" role="navigation">
    <button class="btn btn-primary col-md-2" ng-click="pageEvent('confirm')">confirm</button>
    <button class="btn btn-danger col-md-2" ng-click="pageEvent('cancel')">cancel</button>
	<button class="btn btn-default col-md-2" ng-click="pageEvent('back')">back</button>
	<button class="btn btn-default col-md-2" ng-click="pageEvent('more')">add more</button>
</div>
<h1>Order - Confirm</h1>
<h2>Verify your order and press 'Confirm'</h2>



